.divs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.divs div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 380px;
    border-radius: 15px 15px 15px 15px;
    margin: 100px 60px 50px 60px;
}
.divs .tab1{
background-image: url(/images/radiohead.jpg);
}
.divs .tab2{
background-image: url(/images/johnDenver.jpg);
}
.divs .tab3{
background-image: url(/images/giorno.jpg);
}

.divs div h1{
    /* margin-top: 25%; */
    font-family: 'Caveat', cursive;
    color: rgb(255, 255, 255);
    /* background-color: #0a7e8de3; */
 
   
}
.divs div button{
    margin-top: 85%;
    font-family: 'Caveat', cursive;
}

  
  .tab-button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
    position: relative;
    background-color: #16a085;
    border: none;
    color: #fff;
    padding: 10px;
    width: 40%;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    
  }
  
  .tab-button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .tab-button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .tab-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .tab-button:focus { outline:0; }

.divs div:hover{
    transform: scale(1.08);
    transition: 1s ease-in-out;
}
.back{
    height: 100%;
    width: 100%;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bod{
    background: linear-gradient(to right, #70e1f5, #ffd194);
    background-size: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    font-family: 'Caveat', cursive;
    background: linear-gradient(to right, #1f1c2c, #928dab); 
    position: fixed;
    width: 100%;
    z-index: 100;
    border-radius: 0px 0px 3px 5px;
    padding-left: 15%;
    padding-right: 3%;
    
}
.logo {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;

}
.nav-links a{
    color:rgb(230, 217, 217);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 24px;
}
.nav-links li{
    list-style: none;
}
.nav-links li:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(58, 57, 57);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:800px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 7vh;
       background: linear-gradient(to right, #1f1c2c, #928dab); 
       display: flex;
       flex-direction: column;
       align-items: center;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-links li{
       opacity: 0;
   }
  
   .burger{
       display: block;
   }
}

.nav-active{
    transform:  translateX(
        0%
    );
    z-index: 1;
}

@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-6px);
}

a {
    text-decoration: none;
    color: black;
}

