/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

    

/* form {border: 3px solid #f1f1f1;} */
form{
    position: absolute;
    width: 50vw;
    height: 35vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0.8;
    
}
.inputs{
    background-color: whitesmoke;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    text-align: center;
}
h2{
    font-family: "Caveat", cursive;
}
h4{
    color: rgb(179, 155, 155);
}
.inputs input[type=text], input[type=password]{
    width: 50%;
    height: 30px;
    margin: 8px 12vw;
    border: 1px solid #ccc;
}
button {
  background-color: rgb(0, 183, 255);
  border-radius: 5px;
  color: white;
  /* padding: 14px 20px; */
  margin: 8px 12vw;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 30px;
  font-family: "caveat", cursive;
  font-size:20px;
}
button:hover{
    font-size: 25px;
    
}
.inputs label{
    display: inline-block;
    width:45%;
}
.inputs a{
    font-size: 16px;
}
.inputs a:hover{
    cursor: pointer;
    color: rgb(168, 126, 126);
}
a{
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: rgb(0, 255, 242);
}