*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/WIN_20200203_22_29_38_Pro.jpg);
    background-repeat: no-repeat;
    background-color: #94467a;
    background-size: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    font-family: 'Caveat', cursive;
    background-color: #cf361bb0;
}
.logo {
    color:rgb(58, 57, 57);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;

}
.nav-links a{
    color:rgb(230, 217, 217);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 24px;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(58, 57, 57);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:800px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 7vh;
       background-color: #cf361bb0;
       display: flex;
       flex-direction: column;
       align-items: center;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-links li{
       opacity: 0;
   }
   .burger{
       display: block;
   }
}

.nav-active{
    transform:  translateX(
        0%
    );
    z-index: 1;
}

@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-6px);
}

